*{
	margin:0px;
	padding:0px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear:after{
	content: "";
    clear:both;
    display:block;
}
.outer{
	width:1920px;
	height:2290px;
}
.top{
	width:1920px;
	height:202px;
	background:url(image3/top.jpg) no-repeat;
}
.topl{
	width:472px;
	height:202px;
	overflow: hidden;
}
.ta{
	width:196px;
	height:50px;
	background:url(image/logo.png) no-repeat;
	margin-top:50px;
}
.tb{
	font-size: 16px;
	font-family:"微软雅黑";
	color:#fff;
	margin-top:160px;
	margin-right: -179px;
}
.topr{
	width:638px;
	height:32px;
	margin-right:332px;
	margin-top:68px;
}

.topr a{
	width:100px;
	height:33px;
	text-decoration: none;
	font-size: 18px;
	font-family:"微软雅黑";
	color:#000;
	border-bottom:4px #000 solid;
	text-align: center;
}
.topr a:hover{
	border-bottom:4px #c2191f solid;
}
.center{
	width:1366px;
	height:2482px;
	border-bottom:1px #dad7d7 solid;
	margin:0 auto;
	overflow: hidden;
}
.center1{
	width:1366px;
	height:385px;
	margin-top:37px;
	position: relative;
}
.c1-1{
	width:616px;
	height:385px;
	background: url(image6/c5.png) no-repeat;
}
.ca{
    width:118px;
	height:40px;
	font-size: 22px;
	font-family:"微软雅黑";
	color:#fff;
	margin-top:16px;
	text-align: center;
	line-height: 40px;
}
.c1-2-1{
	background: url(image6/c1.png) no-repeat;
}
.cb{
	width:38px;
	height:38px;
	margin-top:16px;
}
.c1-2-2{
	margin-right: 4px;
	background: url(image6/c3.png) no-repeat;
}
.c1-2-3{
	margin-right: 8px;
	background: url(image6/c2.png) no-repeat;
}
.c1-2-4{
	margin-right: 8px;
	background: url(image6/c4.png) no-repeat;
}
.c1-2-5{
	width:100px;
	height:20px;
	font-size: 12px;
	font-family:"微软雅黑";
	text-indent: -10px;
}
.c1-2-6{
	width:851px;
	height:259px;
	background-color:#fff; 
	position: absolute;
	right:0px;
	top:126px;
}
.c1a{
	margin-left:54px;
	margin-top:28px;
}
.c1-2-6-1{
	font-size: 24px;
	font-family:"微软雅黑";
	line-height: 36px;
	
}
.c1-2-6-2{
	font-size: 14px;
	font-family:"微软雅黑";
	line-height: 26px;
	
}
.c1-2-6-3{
	font-size: 12px;
	font-family:"微软雅黑";
	line-height: 16px;
	margin-left:54px;
	margin-top:28px;
}
.c1-2-6-4{
	margin-left:54px;
	margin-top:42px;
	background: url(image6/23.png) no-repeat;
	width:80px;
	height:22px;
}
.center2{
	width:1366px;
	height:385px;
	margin-top:78px;
	position: relative;

}
.c2-1{
	width:634px;
	height:386px;
	margin-right: -4px;
	background: url(image6/c10.png) no-repeat;
}
.c2-2-1{
	background: url(image6/c6.png) no-repeat;
}
.c2-2-2{
	margin-left: 4px;
	background: url(image6/c7.png) no-repeat;
}
.c2-2-3{
	margin-left: 8px;
	background: url(image6/c8.png) no-repeat;
}
.c2-2-4{
	margin-left: 8px;
	background: url(image6/c9.png) no-repeat;
}
.c2-2-6{
	width:836px;
	height:259px;
	background-color:#fff; 
	position: absolute;
	left:0px;
	top:126px;
}
.c1b{
	margin-left: 0px;
}
.center3{
	width:1366px;
	height:387px;
	margin-top:115px;
	position: relative;
}
.c3-1{
	width:616px;
	height:385px;
	background: url(image6/c14.png) no-repeat;
}
.c3-2-1{
	background: url(image6/c1.png) no-repeat;
}
.c3-2-2{
	margin-right: 4px;
	background: url(image6/c13.png) no-repeat;
}
.c3-2-3{
	margin-right: 8px;
	background: url(image6/c12.png) no-repeat;
}
.c3-2-4{
	margin-right: 8px;
	background: url(image6/c11.png) no-repeat;
}
.c3-2-6{
	width:851px;
	height:259px;
	background-color:#fff; 
	position: absolute;
	right:0px;
	top:126px;
}
.c4-1{
	width:617px;
	height:386px;
	background: url(image6/c18.png) no-repeat;
}
.c4-2-1{
	background: url(image6/c6.png) no-repeat;
}
.c4-2-2{
	margin-right: 4px;
	background: url(image6/c15.png) no-repeat;
}
.c4-2-3{
	margin-right: 8px;
	background: url(image6/c16.png) no-repeat;
}
.c4-2-4{
	margin-right: 8px;
	background: url(image6/c17.png) no-repeat;
}
.cc{
	margin-top:114px;
}
.c5-1{
	width:616px;
	height:385px;
	background: url(image6/c22.png) no-repeat;
}
.c5-2-1{
	background: url(image6/c1.png) no-repeat;
}
.c5-2-2{
	margin-right: 4px;
	background: url(image6/c19.png) no-repeat;
}
.c5-2-3{
	margin-right: 8px;
	background: url(image6/c20.png) no-repeat;
}
.c5-2-4{
	margin-right: 8px;
	background: url(image6/c21.png) no-repeat;
}
.footer{
	width:1920px;
	height:186px;
}
.footer1{
    width:200px;
	height:55px;
	background: url(image/logo.png) no-repeat;
	margin-top:64px;
	margin-left:380px;
}
.footer2{
	width:1042px;
	height:70px;
	background: url(image/footer.png) no-repeat;
	margin-top:50px;
	margin-right:290px;
}
.f2-1 a{
	text-decoration: none;
	color:#b3b4b4;
	font-size:14px;
}
.f2-1-1{
	margin-left:550px;
	margin-top:10px;
}
.f2-1-2{
	margin-left:630px;
	margin-top:-16px;
}
.f2-1-3{
	margin-left:720px;
	margin-top:-18px;
}
.f2-1-4{
	margin-right:190px;
	margin-top:-18px;
}
.f2-1-5{
	color:#b3b4b4;
	font-size:14px;
	margin-right:190px;
}